# --- Arquivos solicitados ---
# Ignorar todos os arquivos SQL (dumps, scripts gerados)
*.sql
*.dump

# Ignorar o arquivo de orquestração do Docker
docker-compose.yml

# --- Padrões essenciais para Node.js ---
# Dependências (Nunca envie isso para o Git)
node_modules/

# Logs de erro e debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# --- Variáveis de Ambiente e Segurança ---
.env
.env.local

# --- Arquivos de Sistema e IDE ---
.DS_Store
Thumbs.db
.vscode/
.idea/